body {
    margin: auto;
    padding: 50px;
    color: #000;
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner"
        "side main"
        "footer footer";
        grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    /* border-radius: 10px; */
    background-color: #ddd;
}

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #809cc6;  /* cerulean frost */
}

/* Set font on dark areas to white */
.logo, .banner, .footer {
    color: #fff;
}

/* Area specifics */

.logo {
    padding: 0;
    float: left;
    
}

.banner {
    grid-area: banner;
    border-radius: 10px;
}




.side {
    grid-area: side;
    background-color: #c2f2ff; /* blizzard blue */
    color: #000;
    border-radius: 10px;
}

.main {
    grid-area: main;
    background-color: #89bbfe;  /* french sky blue */
    border: solid 1px #CCC;
    border-radius:10px;
}


.footer {
    grid-area: footer;
    text-align: right;
    border-radius: 10px;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Links */
.nav a {font-weight: bold;}
.nav a:link, .nav a:visited {color: #AA0000;} /*dark red */
.nav a:hover {color: #604830; text-decoration: none;} /* chocolate brown */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);     
}

.center_image {
    text-align: center;
}

form {    
    width: 250px;
    margin: 5px;
}

/* Error box formatting */
.error {
    background-color: #ffe0ed; /* pale pink */ 
    border: 2px solid #8a1737; /* dark red border */
    color: #8a1737; /* dark red */
    border-radius: 5px; 
    padding: 20px;
}

.search {
    width: 150px;
    padding: 8px 15px;
    background: #fff;  /* white */
    color: #000;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #52000c; /* rosewood */
    font-weight: bold;
}

.results {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    background-color: #adefff;  /* blizzard blue */
}

.submit {
    font-family: FontAwesome;
    position: relative;
    width: 45px;
    left: -1px;
    background-color: #636363;  /* ash grey */
    color: #d6d6d6; /* very light grey */
    border: 1px solid #636363;  /* ash grey */
    border-radius: 0 5px 5px 0;
}

input {
    height: 40px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;  /* light grey */
    box-sizing: border-box;
}

select {
    outline: 0;
    height: 40px;
    border: 1px solid #ccc; /* light grey */
    color: #878787;  /* grey */
    width: 150px;
}















